body {
  font-family: sans-serif;
  margin: 0 50px;
}

body > div {
  display: flex;
  gap: 40px;
}

#main-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.msg {
  color: red;
}

.post-btn {
  width: 50px;
}

.right {
  width: 400px;
}
#posts {
  display: flex;
  flex-direction: column;
}

#posts > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#posts > div > span {
  display: flex;
  gap: 25px;
}
#posts > div i:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.3s;
}
